.App {
  /* position: absolute;
  min-height: 100vh; */
}

.App-sidebar, .App-main {
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.App-sidebar {
  left: 0;
  width: 230px;
}

.App-main {
  left: 230px;
  right: 0;
}
